/* Global Styles */
body, html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Arial', sans-serif;
  background-color: #f7f7f7;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

/* Dark Burgundy Color Scheme */
:root {
  --primary-color: #800020; /* Burgundy */
  --secondary-color: #f4f4f4; /* Light background */
  --highlight-color: #ffc107; /* Accent color for highlights (yellow) */
  --text-color: #ffffff; /* White text */
  --dark-bg-color: #1c1c1c; /* Dark background for navbar and footer */
  --hover-darken: #70001c; /* Darker burgundy for hover */
  --available-bg: #a3d4ff;
  --available-border: #6ab0e5;
  --reserved-color: #999;
  --reserved-border: #777;
}


